<div class="container">
  <div class="header">
    <a [routerLink]="['/home']">
      <img  src="./assets/img/logo.png">
    </a>
  </div>
  <div class="row">
    <div class="col">
      <ul class="left-nav">
        <li>
          <h2 class="teal">welcome</h2>
          <p>to Gossip Girl<br />
          The Site ABOUT the<br />
          Upper East Side,<br />
          FOR the Upper East<br />
          Side and BY the<br />
          Upper East Side!</p>
        </li>
        <li>
          <h2 class="orange">gossip</h2>
          <p>The latest "411"<br />
          on all the in people</p>
        </li>
        <li>
          <h2 class="lime">pics</h2>
          <p>The latest "411"<br />
          on all the in people</p>
          <a [routerLink]="['/pics']" >
            CURRENT PHOTO GALLERY
          </a>
        </li>
        <li>
          <h2 class="pink">parties</h2>
          <p>Your invitation was probably lost in the mail.</p>
          <p><a [routerLink]="['/posts']" >
            CLICK HERE
          </a> to see what you missed!</p>
        </li>
        <li>
          <h2 class="green">links</h2>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom">
        <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
      </agm-map>
      <right-nav></right-nav>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Welcome to GossipGirl.com</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Gossip Girl here, your one and only source into the scandalous lives of Manhattan's software developing elite</p>
    <p>And who am I? That's one secret I'll never tell! You know you love me… XOXO, Gossip Girl.</p>
  </div>
</ng-template>