<ng-container *ngIf="slug">
  <a href="" [routerLink]="slug">
    <h2>Spotted: {{post.person}}</h2>
    <img
       title="{{post.title}}"
       alt="{{post.title}}"
       src="../assets/img/{{post.image}}"
     />
  </a>
</ng-container>
<ng-container *ngIf="!slug">
    <h2>Spotted: {{post.person}}</h2>
    <img
       title="{{post.title}}"
       alt="{{post.title}}"
       src="../assets/img/{{post.image}}"
     />
</ng-container>
<p>Spotted at {{post.location}} </p>
<p>{{post.text}}</p>
<p><small>{{post.date}}</small></p>